*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #3a3a3a;
    padding: 15px 20px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    transition: color o.3s;
}
nav ul li a:hover{
    color: #FFD700;
}
/*section styling */
main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    position: relative;
}
.hero-text{
    max-width: 50%;
    text-align: left;
}
.hero-text h1{
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #071934;
}
.hero-text p{
    font-size: 1.2em;
    margin-bottom: 25px;
    line-height: 1.6;
}
.button-group{
    display: flex;
    gap: 15px;
}
.btn{
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    background-color: #5e491d;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s ease;
}

.btn:hover{
    background-color: #9e8759;
    transform: scale(1.05);
}
.hero-image{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.hero-image img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 6px solid #415E89;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #3a3a3a;
    color: white;
    width: 100%;
    position: relative;
}
